{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-body-emphasis">Index</h1>
    <p class="fs-5 col-md-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet autem beatae, commodi dicta dolore expedita ipsa 
      modi necessitatibus odit pariatur quam quasi repellat sed temporibus veniam vitae. Ad aliquam blanditiis 
      consequuntur culpa, cupiditate distinctio dolore error eum ex expedita fugit hic iste iusto laborum minus natus 
      neque quia quod quos recusandae reiciendis repellat repellendus saepe sed soluta sunt tempora tempore ut vel velit
      veniam voluptate, voluptates voluptatibus? Architecto dolorem earum esse eveniet itaque repellat sequi similique, 
      tenetur voluptatum! Aut culpa cupiditate eaque eius, et, explicabo id ipsam labore magni maxime, neque nostrum 
      praesentium provident qui rem soluta tenetur veritatis.
    </p>
  </div>
{% endblock %}